@page "/allContent"
@using uniBomberQuote.Models
@inject DataContext Context;
    @{AllSentences = Context.DataSentences.ToList(); }
    @{Realsentencess = AllSentences.Where(f => f.SentenceType == SentenceType.real).ToList();}
    @{Notesentencess = AllSentences.Where(f => f.SentenceType == SentenceType.note).ToList();}
    @{HeaderSentencess = AllSentences.Where(f => f.SentenceType == SentenceType.headers).ToList();}
    @{sen = SentencesMaker.RandSent(Realsentencess);}


@foreach(var a in AllSentences){

        @if(a.SentenceType == SentenceType.headers){
            <h2>@a.MySentences</h2>
        }else{
    <div class="card" style="margin:5px 0">
        <div class="card-body">
            <p class="card-text">@a.MySentences </p>
        </div>
    </div>

        }
}


@code {
    private int currentCount = 0;

        private Random ran = new Random();
        private List<Sentences> AllSentences = new();
        private List<Sentences> Realsentencess = new();
        private List<Sentences> Notesentencess = new();
        private List<Sentences> HeaderSentencess = new();
        private Sentences? sen;

        private Sentences idk(int q){
            return AllSentences
                .Where(f => f.MySentences.Contains($"{q}. ")|f.MySentences.Contains($"{q}, "))
                .First();
        }
        private Sentences wtf(int q){
            return AllSentences.GetRange(0,(int)idk(q).sentenceId)
                .Where(f => f.SentenceType == SentenceType.headers)
                .Last();


        }
    
    }